.gogleLogin .card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 12.2px 50.7px 1px rgb(0 0 0 / 13%);
    border-radius: 25px;
    position: relative;
    top: 0;
    width: 1100px;
    height: 750px;
  }
  .gogleLogin .card .desk {
    font-size: 3rem;
    font-weight: 800;
  }
  
  @media screen and (min-width: 980px) {
    .gogleLogin .form-image-gogleLogin {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transition: 1s left;
    }
    .gogleLogin .form-outer-gogleLogin {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 50px 50px;
      width: 40%;
      transition: 1s left;
    }
  }
  @media screen and (max-width: 980px) {
    .gogleLogin .form-image-gogleLogin {
      display: none;
    }
    .gogleLogin .form-outer-gogleLogin {
      padding: 50px 50px;
      width: 100%;
    }
  }

